# Assets
screenshots/*
data/images/*
log/*
runs/*
build/

# vscode files
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

docs/*
!docs/*.pdf
!docs/*.tex