[submodule "imutils-cpp"]
	path = ThirdParty/imutils-cpp
	url = https://github.com/canh25xp/imutils-cpp
	shallow = true
[submodule "yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	shallow = true
[submodule "spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "ThirdParty/CLI11"]
	path = ThirdParty/CLI11
	url = https://github.com/CLIUtils/CLI11
	shallow = true
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
