# Assets
screenshots/*
data/images/*
data/tmp/
!data/images/sample.jpg
log/*
runs/*
build/
Resources/

# vscode files
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

docs/*
!docs/*.pdf
!docs/*.tex
!docs/*.drawio

vcpkg

*.exe